<nav class="mobile">		
	<ul>
    {% for item in mainmenu.get_items %}
        <li class="{{item.classes | join(' ')}}"><a class="nav-main-link" href="{{item.get_link}}">{{item.title}}</a>{% if item.get_children %}<span class="icon-plus"></span>{% endif %}
            {% if item.get_children %}
                <ul class="sub">
                  {% for child in item.get_children %}
                    <li class="sub-item {{child.classes | join(' ')}}"><a href="{{child.get_link}}">{{ child.title }}</a></li>
                  {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    {% for item in footermenu.get_items %}
        <li class="nav-main-item {{item.classes | join(' ')}}"><a class="nav-main-link" href="{{item.get_link}}">{{item.title}}</a>
            {% if item.get_children %}
                <ul class="nav-drop">
                  {% for child in item.get_children %}
                    <li class="nav-drop-item"><a href="{{child.get_link}}">{{child.title}}</a></li>
                  {% endfor %}
                </ul>
             {% endif %}
        </li>
    {% endfor %}
	</ul>
</nav>